.bg-image {
  background-image: url(../SVG/background-1920-1080.svg);
  background-position: top;
  background-repeat: repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: #0b5c71;
  position:absolute;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  z-index:-1;
}

html {
    background: #0b5c71 !important;
}