.bg-image {
  background-image: url(../SVG/background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(51, 44, 44, .7);
  width: 100%;
  max-width: 100%;
  /*min-height: 100vh;*/
  min-height: 100%;         /* ADDED */
  position:absolute;        /* ADDED */
  z-index:-1;               /* ADDED */
}