.hpbutton:link, .hpbutton:visited {
  align-items: center;
  display: inline-block;
  appearance: button;
  background-color: #1d99ae;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  color: #053c4a;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "Inter";
  font-size: 14;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
}

.hpbutton:hover, .hpbutton:active {
  background-color: #0b596e;
  color: #75c7db
}