@font-face {
    font-family: 'rockaboy';
    src: url('../TTF/rockaboy.ttf');
    src: url('../TTF/rockaboy-webfont.eot');
    src: url('../TTF/rockaboy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../TTF/rockaboy-webfont.woff2') format('woff2'),
         url('../TTF/rockaboy-webfont.woff') format('woff'),
         url('../TTF/rockaboy-webfont.svg#rockaboyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-family:'rockaboy';  
	font-weight:normal; 
	font-size:96px; 
	letter-spacing:0.75px;
	color: #fff;
}

h2 {
	font-family:'sofia-pro'; 
	font-weight:500; 
	font-size:48px; 
	letter-spacing:0px;
	color: #fff;
}

p {
    font-family:'Inter';
	font-size:18px;
	font-weight:normal;
	color: #fff;
}
