nav ul .navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #053c4a;
  font-family: "Inter";
  font-weight: 600;
}

nav li .navbar {
  float: right;
}

nav li a .navbar {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 600;
}

nav li a:hover .navbar {
  background-color: #04323d;
  color: #fff;
}