#navbar {
  background-color: #053c4a; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: -50px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #053c4a;
  font-family: "Inter";
  font-weight: 600;
}

#navbar li {
  float: right;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 600;
}

#navbar li a:hover {
  background-color: #04323d;
  color: #fff;
}

