@media screen and (max-width: 480px) {
  p {
    padding-right: 4px;
	padding-left: 4px;
	margin-left: 2%;
	margin-right: 2%;
	font-size:16px; 
  }
  h1 {
	font-size:48px; 
	}
  h2 {
	font-size:24px; 
	margin-bottom: 2%;
	margin-top: 4%;
	}
  .small-heading {
	padding-right: 4px;
	padding-left: 4px;
	margin-left: 2%;
	margin-right: 2%;
	font-size: 24px;
	margin-bottom:10px
	}
}

@media screen and (max-width: 768px) {
  p {
    padding-right: 16px;
	padding-left: 16px;
	margin-left: 2%;
	margin-right: 2%;
	font-size:16px; 
  }
  h1 {
	font-size:64px; 
	}
  h2 {
	font-size:36px; 
	margin-bottom: 2%;
	margin-top: 4%;
	}
  .small-heading {
    padding-right: 16px;
	padding-left: 16px;
	margin-left: 2%;
	margin-right: 2%;
	font-size: 24px;
	}
}

@media screen and (max-width: 1280px) {
  p {
    padding-right: 18px;
	padding-left: 18px;
  }
}

@media screen and (max-width: 1920px) {
  p {
    padding-right: 28px;
	padding-left: 28px;
  }
}

@media screen and (max-width: 2560px) {
  p {
    padding-right: 38px;
	padding-left: 38px;
  }
}

div {
    width: 100%
}

img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.imageheader { /*images should be 1050px wide. height doesn't matter*/
	img {
		max-width: 80%;
		height: 80%;
		object-fit: cover;
		margin-left: 20%;
		margin-right: 20%;
		max-height: auto;
		object-fit: cover;
		padding: 35px
		justify-content: center;
		align-items: center;
	}
}
